/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 */

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;  
}

.actions-box {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.table {
  background-color: white;
  border-collapse: collapse;
  table-layout: fixed;
  width: 600px
}

.table th, td {
  padding: 5px;
}

.show-box {
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  width: 558px;
}

.installment-positive {
  color: green;
}

.installment-negative {
  color: red;
}

.form-header p {
  font-size: 1.3em;
  font-weight: bold;
}